<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Add Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container h1 {
            text-align: center;
        }
        form {
            width: 100%;
        }
        form input[type="text"],
        form input[type="number"],
        form input[type="file"],
        form textarea,
        form select,
        form button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        form button {
            background-color: #3ebfbb;
            color: #fff;
            cursor: pointer;
        }
        form button:hover {
            background-color: #207976;
        }
        .button {
            background: #3ebfbb;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            margin-top: 3px;
            transition: background-color 0.3s;
        }
        .button:hover {
            background: #207976;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Update Product</h1>
        <form method="post" name="editProductform" class="form" id="editProductform" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="product_id" value="{{ product.id }}">

            <label for="pname"><b>Product Name</b></label>
            <!-- Set the value attribute of the input field with the product name -->
            <input type="text" name="pname" required value={{product.name}}>
            <span id="pnameError" class="error"></span><br><br>

            <label for="brand"><b>Brand</b></label>
            <select name="brand">
                {% for brand in brands %}
                    <option value={{brand.id}} {% if product.brand == brand %} selected {% endif %}>{{brand.name}}</option>
                {% endfor %}
            </select>

            <label for="category"><b>Category</b></label>
            <select name="category" required>
                {% for category in categories %}
                    <option value={{category.id}} {% if product.category == category %} selected {% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            <span id="categoryError" class="error"></span><br><br>

            <label for="subcategory"><b>Subcategory</b></label>
            <select name="subcategory">
                {% for subCategory in subCategories %}
                    <option value={{subCategory.id}} {% if product.sub_category == subCategory %} selected {% endif %}>{{subCategory.name}}</option>
                {% endfor %}
            </select>


            <label for="price"><b>Price (INR)</b></label>
            <input type="number" name="price" required value={{product.actual_price}}>
            <span id="priceError" class="error"></span><br><br>

            <label for="discount"><b>Discount (%)</b></label>
            <input type="number" step="0.01" placeholder="Enter Discount" name="discount" required value={{product.discount}}>
            <span id="discountError" class="error"></span><br><br>

            <label for="stock_xs"><b>Stock for XS</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_xs" required value={{product.XS_stock}}>
            <span id="stockXSError" class="error"></span><br><br>

            <label for="stock_s"><b>Stock for S</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_s" required value={{product.S_stock}}>
            <span id="stockSError" class="error"></span><br><br>

            <label for="stock_m"><b>Stock for M</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_m" required value={{product.M_stock}}>
            <span id="stockMError" class="error"></span><br><br>

            <label for="stock_l"><b>Stock for L</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_l" required value={{product.L_stock}}>
            <span id="stockLError" class="error"></span><br><br>

            <label for="stock_xl"><b>Stock for XL</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_xl" required value={{product.XL_stock}}>
            <span id="stockXLError" class="error"></span><br><br>

            <label for="stock_xxl"><b>Stock for XXL</b></label>
            <input type="number" placeholder="Enter Stock Quantity" name="stock_xxl" required value={{product.XXL_stock}}>
            <span id="stockXXLError" class="error"></span><br><br>

            <label for="color"><b>Color</b></label>
            <input type="text" placeholder="Enter Color" name="color" required value={{product.colour}}>
            <span id="colorError" class="error"></span><br><br>

            <label for="description"><b>Description</b></label>
            <textarea name="description" required>{{ product.description }}</textarea><br>

            <label for="main_image"><b>Main Image</b></label>
            <input type="file" id="main_image" name="main_image" accept="image/*" required>
            {% if product_images %}
                <img src="{{ product_images.0.image.url }}" width=100px height=100px alt="Main Image"><br>
            {% endif %}

            <label for="sub_image1"><b>Sub Image1</b></label>
            <input type="file" id="sub_image1" name="sub_image1" accept="image/*" required>
            {% if product_images %}
                <img src="{{ product_images.1.image.url }}" width=100px height=100px alt="Main Image">
            {% endif %}

            <label for="sub_image2"><b>Sub Image2</b></label>
            <input type="file" id="sub_image2" name="sub_image2" accept="image/*" required>
            {% if product_images %}
                <img src="{{ product_images.2.image.url }}" width=100px height=100px alt="Main Image">
            {% endif %}

            <button type="submit" class="button" onclick="submitForm()">Submit</button>
        </form>
    </div>

    <script>
        document.getElementById("editProductform").addEventListener("submit", function(event) {
            event.preventDefault();
            if (validateForm()) {
                this.submit();
            }
        });

        function validateForm() {
            var pname = document.forms["editProductform"]["pname"].value;
            var price = document.forms["editProductform"]["price"].value;
            var discount = document.forms["editProductform"]["discount"].value;
            var stockXS = document.forms["editProductform"]["stock_xs"].value;
            var stockS = document.forms["editProductform"]["stock_s"].value;
            var stockM = document.forms["editProductform"]["stock_m"].value;
            var stockL = document.forms["editProductform"]["stock_l"].value;
            var stockXL = document.forms["editProductform"]["stock_xl"].value;
            var stockXXL = document.forms["editProductform"]["stock_xxl"].value;
            var color = document.forms["editProductform"]["color"].value;

            var isValid = true;
            var firstErrorField = null;

            // Validate product name length
            if ((pname.trim().length < 5)) {
                document.getElementById("pnameError").innerHTML = "Product name must be at least 5 characters long";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["pname"];
            }
            } else if (/^\d+$/.test(pname.trim())) {
                document.getElementById("pnameError").innerHTML = "Invalid product name";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["pname"];   
            }
            else {
                document.getElementById("pnameError").innerHTML = "";
            }

            // Validate price
            if (isNaN(price) || price <= 0) {
                document.getElementById("priceError").innerHTML = "Price must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["price"];
            } else {
                document.getElementById("priceError").innerHTML = "";
            }

            // Validate discount
            if (isNaN(discount) || discount < 0) {
                document.getElementById("discountError").innerHTML = "Discount must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["discount"];
            } else {
                document.getElementById("discountError").innerHTML = "";
            }

            // Validate stock
            if (isNaN(stockXS) || stockXS < 0) {
                document.getElementById("stockXSError").innerHTML = "Stock for XS must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_xs"];
            } else {
                document.getElementById("stockXSError").innerHTML = "";
            }

            if (isNaN(stockS) || stockS < 0) {
                document.getElementById("stockSError").innerHTML = "Stock for S must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_s"];
            } else {
                document.getElementById("stockSError").innerHTML = "";
            }

            if (isNaN(stockM) || stockM < 0) {
                document.getElementById("stockMError").innerHTML = "Stock for M must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_m"];
            } else {
                document.getElementById("stockMError").innerHTML = "";
            }

            if (isNaN(stockL) || stockL < 0) {
                document.getElementById("stockLError").innerHTML = "Stock for L must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_l"];
            } else {
                document.getElementById("stockLError").innerHTML = "";
            }

            if (isNaN(stockXL) || stockXL < 0) {
                document.getElementById("stockXLError").innerHTML = "Stock for XL must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_xl"];
            } else {
                document.getElementById("stockXLError").innerHTML = "";
            }

            if (isNaN(stockXXL) || stockXXL < 0) {
                document.getElementById("stockXXLError").innerHTML = "Stock for XXL must be a positive number";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["stock_xxl"];
            } else {
                document.getElementById("stockXXLError").innerHTML = "";
            }

            // Validate color
            if (!isNaN(color)) {
                document.getElementById("colorError").innerHTML = "Color must be text only";
                isValid = false;
                if (!firstErrorField) firstErrorField = document.forms["editProductform"]["color"];
            } else {
                document.getElementById("colorError").innerHTML = "";
            }

            if (firstErrorField) {
                firstErrorField.focus();
                firstErrorField.scrollIntoView({ behavior: 'smooth' });
            }

            return isValid;
        }
    </script>
</body>
</html>